@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.content-con {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.t1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8688px;
  line-height: 100%;
  letter-spacing: 0.14em;
  color: #2b788b;
  width: max-content;
}
.t2 {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 40px;
  width: max-content;
}
.t3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22.7072px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #585858;
  width: max-content;
}
.content-r img {
  width: 100%;
  height: auto;
  margin-left: 60px;
}
.button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 30px;
}
.signIn-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: auto;
}
.learnMore-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #2b788b;
  margin-left: 30px;
  text-decoration: none;
  background: #c3dce3;
  width: 190px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 17px;
  text-align: center;
}
.number {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
}
.user {
  display: flex;
  justify-content: flex-start;
}
.icon {
  color: #2b788b;
}
.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #585858;
}
.box {
  text-align: center;
}
.content-l {
  display: flex;
  flex-direction: column;
}
.line {
  padding-left: 15px;
  color: gray;
  opacity: 30%;
}
@media screen and (max-width: 1000px) {
  .t1 {
    font-size: 17px;
  }
  .t2 {
    font-size: 40px;
  }
  .t3 {
    font-size: 20px;
  }
  .number {
    font-size: 30px;
  }
  .text {
    font-size: 14px;
  }
  .content-r img {
    width: 90%;
    height: auto;
    margin-left: 60px;
  }
  .learnMore-button {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
  }
  .signIn-button {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
  }
}
@media screen and (max-width: 700px) {
  .content-con {
    flex-direction: column;
  }
  .content-r img {
    width: 80%;
    height: auto;
    margin-left: 60px;
  }
  .content-con {
    align-items: center;
  }
  .t1 {
    width: auto;
    text-align: center;
  }
  .t2 {
    width: auto;
    text-align: center;
  }
  .t3 {
    width: auto;
    text-align: center;
  }
  .button {
    align-items: center;
  }
  .content-l {
    align-items: center;
  }
}
